In [102]:
import pandas as pd
import json
import os
import csv

In [103]:
print(os.path.exists(r'C:\Users\Arun\Downloads\JupyterNotebooks\Phonepe\data\aggregated\transaction\country\india\2018\1.json'))

True

df1 = Aggregated - Transaction - Country - India - 2018 - 1

df2 = Aggregated - Transaction - Country - India - 2018 - 2

df3 = Aggregated - Transaction - Country - India - 2018 - 3

df4 = Aggregated - Transaction - Country - India - 2018 - 4

In [104]:
df1 = pd.read_json(r'C:\Users\Arun\Downloads\JupyterNotebooks\Phonepe\data\aggregated\transaction\country\india\2018\1.json')
df2 = pd.read_json(r'C:\Users\Arun\Downloads\JupyterNotebooks\Phonepe\data\aggregated\transaction\country\india\2018\2.json')
df3 = pd.read_json(r'C:\Users\Arun\Downloads\JupyterNotebooks\Phonepe\data\aggregated\transaction\country\india\2018\3.json')
df4 = pd.read_json(r'C:\Users\Arun\Downloads\JupyterNotebooks\Phonepe\data\aggregated\transaction\country\india\2018\4.json')

In [105]:
df1['data']['transactionData']

[{'name': 'Recharge & bill payments',
  'paymentInstruments': [{'type': 'TOTAL',
    'count': 72550406,
    'amount': 14472713558.65257}]},
 {'name': 'Peer-to-peer payments',
  'paymentInstruments': [{'type': 'TOTAL',
    'count': 46982705,
    'amount': 147245883542.774}]},
 {'name': 'Merchant payments',
  'paymentInstruments': [{'type': 'TOTAL',
    'count': 5368669,
    'amount': 4656678915.140091}]},
 {'name': 'Financial Services',
  'paymentInstruments': [{'type': 'TOTAL',
    'count': 3762820,
    'amount': 815853105.1000278}]},
 {'name': 'Others',
  'paymentInstruments': [{'type': 'TOTAL',
    'count': 5761576,
    'amount': 4643217301.269438}]}]

In [106]:
rows1 = []
for i in df1['data']['transactionData']:
    i_row = i['paymentInstruments']
    n = i['name'] 
    
    for row in i_row:
        row['name'] = n 
        rows1.append(row)
        
df1 = pd.DataFrame(rows1, columns = ['name','count', 'amount'])
df1.to_csv('ati18_1.csv')

In [107]:
rows2 = []
for i in df2['data']['transactionData']:
    i_row = i['paymentInstruments']
    n = i['name'] 
    
    for row in i_row:
        row['name'] = n 
        rows2.append(row)

df2 = pd.DataFrame(rows2, columns = ['name','count', 'amount'])
df2.to_csv('ati18_2.csv')

In [108]:
rows3 = []
for i in df3['data']['transactionData']:
    i_row = i['paymentInstruments']
    n = i['name'] 
    
    for row in i_row:
        row['name'] = n 
        rows3.append(row)
        
df3 = pd.DataFrame(rows3, columns = ['name','count', 'amount'])
df3.to_csv('ati18_3.csv')

In [109]:
rows4 = []
for i in df4['data']['transactionData']:
    i_row = i['paymentInstruments']
    n = i['name'] 
    
    for row in i_row:
        row['name'] = n 
        rows4.append(row)
        
df4 = pd.DataFrame(rows4, columns = ['name','count', 'amount'])
df4.to_csv('ati18_4.csv')